{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
 <!-- Login Section -->
 <div class="container py-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card shadow-lg rounded-4 p-4">
              <h3 class="text-center mb-4" style="color: #050e1c;">Login</h3>

              <form action="{% url 'accounts:login' %}" method="post">
                  {% csrf_token %}

                  <div class="mb-3">
                      <input type="email" name="email" class="form-control form-control" placeholder="Email" style="border-color: #ff6600;" required>
                  </div>

                  <div class="mb-3">
                      <input type="password" name="password" class="form-control form-control" placeholder="Password" style="border-color: #ff6600;" required>
                  </div>

                  <button type="submit" class="btn btn-lg w-100" style="background-color: #ff6600; color: #fff; border: none; margin-bottom: 15px;">
                      Login
                  </button>
              </form>

              <div class="text-center mb-3 text-muted">
                  — or —
              </div>

              <a href="#" class="btn btn-outline-secandary w-100 mb-3" style="border-color: #ff6600; color: #ff6600;">
                  <i class="bi bi-google me-2"></i> Login with Google
              </a>

              <div class="text-center">
                  <small style="color: #050e1c;">
                      Don't have an account? 
                      <a href="{% url 'accounts:register' %}" style="color: #ff6600;">Register here</a>
                  </small>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
  