{% extends 'base2.html' %} 
{% block title %} User Dashboard {% endblock %} 
{% load static bootstrap5 %}
{% bootstrap_css %} 
{% bootstrap_javascript %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}" />
{% endblock %}

{% block content %}
<div class="wrapper d-flex">
  <aside class="sidebar p-3 shadow-sm">
    <h4 class="welcome mb-4">Welcome, {{ user.get_short_name }}</h4>
    
    <nav class="menu d-flex flex-column gap-2">
        <a href="{% url 'owner_dashboard:dashboard' %}" class="text-white text-decoration-none" >Dashboard</a>
        <a href="{%url 'owner_dashboard:manage_workshops'%}" class="active-link text-white text-decoration-none" >Manage Workshops</a>
     
    </nav>
 </aside>
  <!-- Main Content -->
  <main class="main-content flex-grow-1 p-4">
    <h6>
      <a
        href="{% url 'owner_dashboard:manage_workshops' %}"
        class="active-link text-decoration-none"
        style="border-color: #ff6600; color: #ff6600"
      >
        << Back to Manage Workshops</a
      >
    </h6>

    <div class="form-container">
      <form
        action="{% url 'owner_dashboard:create_workshop' %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input type="text" name="name" class="form-control" />
        </div>

        <div class="mb-3">
          <label class="form-label">Phone:</label>
          <input type="text" name="phone" class="form-control" />
        </div>

        <div class="mb-3">
          <label>Address:</label><br />
          <select name="address_id" class="form-select">
            {% for address in addresses %}
            <option value="{{ address.id }}">
              {{ address.city }} - {{ address.street }}
            </option>
            {% endfor %}</select
          ><br />
        </div>

        <div class="mb-3">
          <label class="form-label">Image:</label>
          <input type="file" name="image" class="form-control" />
        </div>

        <button type="submit" class="btn btn-custom">Create</button>
      </form>
    </div>
  </main>
</div>
{% endblock %}
